@import "./_Variables.scss";

.page--container {
  width: 100%;
  @import "./FormWindow";
  @import "./ExpandedView";
  .page--gradient {
    width: 100%;
    height: 100%;
    position: fixed;
    background-color: black;
    z-index: 2;
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.2s ease-in-out;

    &.active {
      opacity: 0.5;
    }
  }
  @import "./Menu";
  .page--cta__container {
    height: 100%;
    width: 50%;
    z-index: 1;
    position: fixed;
    background-color: $color1;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    .cta--content__container {
      display: flex;
      flex-direction: column;
      padding: 7.2rem;
      gap: 4.8rem;

      .cta--heading {
        color: $color2;
        display: flex;
        flex-direction: column;
        gap: 2.4rem;
        h1 {
          font-size: 4.8rem;
          font-weight: 500;
        }
        h2 {
          font-weight: 300;
          font-size: 2rem;
        }
      }
      .cta--button {
        border: 1px solid $color2;
        color: $color2;
        cursor: pointer;
        background: none;
        padding: 2.4rem;
        border-radius: 10rem;
        width: fit-content;

        transition: 0.2s ease-in-out;
        span {
          font-size: 1.8rem;
        }
        &:hover {
          background-color: $color2;
          color: #fff;
        }
      }
      .cta--links {
        margin-right: auto;
        span {
          color: $color8;
          a {
            text-decoration: none;
            color: white;
          }
        }
      }
    }
  }
  .page--content__container {
    height: 100%;
    width: 50%;
    margin-left: 50%;
    background-color: black;
    position: relative;

    .content--slide {
      width: 100%;
      height: 100vh;
      color: white;
      display: flex;
      align-items: center;
      justify-content: center;
      position: sticky;
      top: 0;
      overflow-x: hidden;
    }

    .photo {
      img {
        object-fit: cover;
        width: 100%;
        height: 100%;
      }
      .image--gradient {
        background-color: $color2;
        height: 100%;
        width: 100%;
        z-index: 2;
        position: absolute;
        top: 0;
        opacity: 0.2;
      }
    }
    .about {
      background-color: #fff;
      display: flex;
      flex-direction: column;
      text-align: left;
      align-items: flex-start;
      gap: 4.8rem;
      padding: 4.8rem;
      color: $color7;
      .about--maintext__container {
        h2 {
          font-size: 4.8rem;
          margin-bottom: 1.2rem;
        }
        .about--text {
          font-size: 2.8rem;
        }
      }
      .about--details__container {
        display: flex;
        flex-direction: column;
        gap: 1.2rem;
        h4 {
          font-size: 2.4rem;
        }
        span {
          font-size: 2rem;
          color: $color8;
        }
      }
    }
    .projects {
      background-color: $color4;
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
      width: 100%;
      overflow-y: hidden;
      .projects--heading {
        display: flex;
        flex-direction: column;
        gap: 1.2rem;
        align-self: flex-start;
        justify-self: flex-start;
        padding: 2.4rem;

        h2 {
          color: $color7;
          font-weight: 500;
          font-size: 3.6rem;
        }
        h3 {
          color: $color9;
          font-weight: 300;
          font-size: 2rem;
        }
      }
    }
    @import "./Reviews";
    .contact {
      background-color: white;
      display: flex;
      flex-direction: column;
      gap: 1.2rem;
      align-items: flex-start;
      justify-content: flex-start;
      padding: 8rem;
      color: $color7;
      h2 {
        font-weight: 400;
        font-size: 3.6rem;
        margin-bottom: 2.4rem;
      }
      h3 {
        font-weight: 400;
        font-size: 2.4rem;
      }
      span {
        font-size: 1.8rem;
        color: $color8;
      }
      .contact--options__container {
        margin-top: 2.4rem;
        .contact--option {
          display: flex;
          padding: 1.2rem 0;
          gap: 2.4rem;
          align-items: center;
          cursor: pointer;

          img {
            width: 5.4rem;
            height: 5.4rem;
            border-radius: 10000rem;
            padding: 0.2rem;
          }
          .book--image {
            background-color: $pic--color1;
          }
          .quote--image {
            background-color: $pic--color2;
          }
          .hello--image {
            background-color: $pic--color3;
            padding: 1rem;
          }
          span {
            font-size: 2rem;
            font-weight: 400;
            color: $color7;
          }
        }
      }
    }
  }
}

@media (max-width: 1200px) {
  .page--container {
    .page--cta__container {
      height: 100vh;
      width: 100%;
      position: static;
    }
    .page--content__container {
      margin-left: 0;
      width: 100%;

      .contact {
        padding-top: 14.8rem;
      }
    }
  }
}

@media (max-width: 770px) {
  .cta--content__container {
    padding: 4.8rem !important;
  }
}

@media (max-height: 540px) {
  .about {
    position: static !important;
  }
  .photo {
    position: static !important;
  }
}
